{% extends 'produk/base.html' %}

{% block content %}

<div class="flex flex-col items-center justify-center text-center min-h-[80vh]">

    <p class="text-cyan-600 font-semibold tracking-widest uppercase mb-4">
        Welcome to NazTech
    </p>

    <h1 class="text-5xl md:text-7xl font-extrabold leading-tight mb-6">
        Smart Electronics <br>
        For Modern Lifestyle
    </h1>

    <p class="text-gray-600 text-lg max-w-2xl leading-relaxed mb-10">
        Temukan berbagai perangkat elektronik modern
        dengan kualitas terbaik dan harga terjangkau
        hanya di NazTech.
    </p>

    <div class="flex gap-4">

        <a href="/produk/"
           class="bg-cyan-600 hover:bg-cyan-700 text-white px-8 py-4 rounded-xl shadow-lg transition">

            Lihat Produk

        </a>

    </div>

</div>

{% endblock %}